<!-- fragment 2 start -->
<table class="w-full">
  <tr>
    <td class="pt-9 pb-10 px-5 bg-[#F0F5F5]">
      <table class="w-full">
        <tr>
          <td class="px-5">
            <table class="w-full">
              <tr>
                <td class="text-2xl font-bold text-center text-[#005555] pb-8 leading-7">
                  Sint cupidatat occaecat ut
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="w-full">
              <tr>
                <!-- card one -->
                <td class="text-center pt-7 p-[25px] bg-white sm:w-full sm:inline-block">
                  <table class="w-full">
                    <tr>
                      <td>
                        <img src="image-3.png" alt="icon_1" target="_blank" class="w-[100px] h-[100px] rounded-full pointer-events-none">
                      </td>
                    </tr>
                    <tr>
                      <td class="text-2xl font-bold text-center text-[#005555] py-3">Nisi ut ade</td>
                    </tr>
                    <tr>
                      <td class="text-[16px] leading-[19px] text-[#444444]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span>
                      </td>
                    </tr>
                  </table>
                </td>

                <!-- card gap -->
                <td class="w-5 sm:w-full sm:inline-block sm:py-2">
                  &nbsp;
                </td>

                <!-- card two -->
                <td class="text-center pt-7 p-[25px] bg-white sm:w-full sm:inline-block">
                  <table class="w-full">
                    <tr>
                      <td>
                        <img src="image-5.jpg" alt="icon_2" target="_blank" class="w-[100px] h-[100px] rounded-full pointer-events-none">
                      </td>
                    </tr>
                    <tr>
                      <td class="text-2xl font-bold text-center text-[#005555] py-3">Duis aute irure</td>
                    </tr>
                    <tr>
                      <td class="text-[16px] leading-[19px] text-[#444444]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span> 
                      </td>
                    </tr>
                  </table>
                </td>
                
              </tr>
            </table>  
          </td>
        </tr>
        
      </table>
    </td>
  </tr>
</table>
<!-- fragment 2 end -->
