<!-- fragment 1 start -->
<table class="w-full">
  <tr>
    <td class="pb-10 bg-white">
      
      <table class="w-full">
        <tr>
          <td class="px-5 sm:px-0">
            <x-image class="w-[600px] pointer-events-none" imgUrl="image-1.png" href="#" />
          </td>
        </tr>
        <tr>
          <td class="text-2xl font-bold text-center text-[#005555] pt-7 px-[50px] leading-7">
            Excepteur sint occaecat cupidatat 
          </td>
        </tr>
        <tr>
          <td class="text-base leading-[19px] text-center py-5 px-12 sm:px-5 text-[#444444]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </td>
        </tr>
      
        <tr>
          <td class="text-center sm:px-5">
            <x-button
              width="350"
              height="45"
              leading="24"
              padding="9px 20px"
              rounded="10"
              bgColor="#008080"
              href="#"
              class="font-bold text-white text-center text-[20px] xs:w-full"
              >Ut enim ad minim veniam
            </x-button>
          </td>
        </tr>

      </table>
      
    </td>
  </tr>
</table>
<!-- fragment 1 end -->
