<table class="w-full">
  <tr>
    <td class="py-5 px-5">
      
      <table class="w-full">
        <tr>
          <td class="w-[110px]">
            <x-image class="w-[110px] pointer-events-none" imgUrl="image-2.png" alt="logo" href="#" /> 
          </td>
          
          <td class="text-[12px] leading-[14px] text-[#002B2B] py-0 pl-[20px] pr-[75px] xs:pr-[0px] sm:pr-[10px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
